<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/scss/main.css">
</head>

<body>
    <div class="banner-for-mobile">
        <h1>Sorry!!!</h1>
        <p>This site is not available for mobile/tab or devices with smaller screen(i.e 1050px)</p>
        <h3>Note:Please visit from PC/Laptop or browser on full screen mode.</h3>
    </div>
    <div class="signup-form-container">
        <div class="signup-form">
            <div class="signup-header">
                <h1>Hamro Blood Bank</h1>
                <div class="logo-container">
                    <img src="images/blood.png" alt="logo">
                </div>
                <h2>Create your account:</h2>
                <p>Please provide valid information to create your account</p>
            </div>
            <div class="signup-main">
                <form action="/signup" method="POST" name="signup-form">
                    <input type="text" name="firstName" placeholder="First Name" value="<%=oldValue.firstName %>" class="<%= errors.find(i=>i.param==='firstName') ? 'invalid' : ' ' %>" required>
                    <input type="text" name="lastName" placeholder="lastName" value="<%=oldValue.lastName %>" class="<%= errors.find(i=>i.param==='lastName') ? 'invalid' : ' ' %>"required>
                    <input type="text" name="contactNumber" placeholder="Contact Number" value="<%=oldValue.contactNumber %>" class="<%= errors.find(i=>i.param==='contactNumber') ? 'invalid' : ' '%>" required>
                    <input type="email" name="email" placeholder="Email" value="<%=oldValue.email %>" class="<%= errors.find(i=>i.param==='email') ? 'invalid' : ' '%>" required>
                    <input type="password" name="password" id="password" placeholder="Password" value="<%=oldValue.password %>" class="<%= errors.find(i=>i.param==='password') ? 'invalid' : ' '%>" required>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" value="<%=oldValue.confirmPassword %>" class="<%= errors.find(i=>i.param==='confirmPassword') ? 'invalid' : ' '%>"
                        required>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit" class="btn btn-signup btn-center">Sign Up</button>
                </form>
            </div>
            <div class="signup-footer">
                <p>Do you have an account? <a href="/login">Log In</a></p>
            </div>
        </div>
    </div>
    <% if(errMessage.length>0){ %>
        <div class="bottom-alert-container">
            <% errMessage.forEach(element=>{ %>
                <div class="alert">
                    <p class="message">
                        <%= element %>
                    </p>
                    <button class="close-btn" onclick="this.parentNode.style.display='none'">
                        X
                    </button>
                </div>

                <%})%>
        </div>
        <% } %>
</body>

</html>