<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="/scss/main.css">
</head>

<body>
    <%- include("./includes/header") %>
        <main class="dashboard">
            <h2>Dashboard:</h2>
            <div class="container">
                <p class="heading">According to people:</p>
                <div class="row-one">
                    <div class="item">
                        <h3>Total Peoples</h3>
                        <p><%= counts.totalPatients %> </p>
                    </div>
                    <div class="item">
                        <h3>Total Males</h3>
                        <p><%= counts.totalMalePatients %> </p>
                    </div>
                    <div class="item">
                        <h3>Total Females</h3>
                        <p><%= counts.totalFemalePatients %> </p>
                    </div>
                </div>
                <p class="heading">According to blood group:</p>
                <div class="row-two">
                    <div class="item">
                        <h3>A +ve</h3>
                        <p><%= counts.totalAPositivePatients %> </p>
                    </div>
                    <div class="item">
                        <h3>A -ve</h3>
                        <p><%= counts.totalANegativePatients %> </p>
                    </div>
                    <div class="item">
                        <h3>B +ve</h3>
                        <p><%= counts.totalBPositivePatients %> </p>
                    </div>
                    <div class="item">
                        <h3>B -ve</h3>
                        <p><%= counts.totalBNegativePatients  %> </p>
                    </div>
                    <div class="item">
                        <h3>AB +ve</h3>
                        <p><%= counts.totalABPositivePatients %> </p>
                    </div>
                    <div class="item">
                        <h3>AB -ve</h3>
                        <p><%= counts.totalABNegativePatients %> </p>
                    </div>
                    <div class="item">
                        <h3>0 +ve</h3>
                        <p><%= counts.totalOPositivePatients %> </p>
                    </div>
                    <div class="item">
                        <h3>O -ve</h3>
                        <p><%= counts.totalONegativePatients %> </p>
                    </div>

                </div>

            </div>
        </main>
        <%- include("./includes/footer") %>

</body>

</html>