<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="scss/main.css">
</head>

<body>
    <%- include("includes/header") %>
        <main class="details">
            <div class="header">
                <a class="btn btn-add-record" href="/add-record">Add Record</a>
                <% if( data.length> 0){ %>
                    <form action="/search">
                        <input type="search" name="search" placeholder="Search Here">
                        <button type="submit" class="btn btn-search">Search</button>
                    </form>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Blood Group</th>
                        <th>Email</th>
                        <th>Contact Number</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(element=>{ %>
                        <tr>
                            <td><%= element._id %> </td>
                            <td><%= element.firstName %> <%= element.lastName %> </td>
                            <td> <%= element.bloodGroup %> </td>
                            <td><a href="mailto:<%= element.email %>"><%= element.email %> </a></td>
                            <td><a href="phoneto:<%= element.phoneNumber %>"> <%= element.phoneNumber %> </a></td>
                            <td> <%= element.address %> </td>
                            <td class="buttons-container">
                                <button class="btn-small">
                                    <a href="/edit-record/<%= element._id %>?edit=true" title="Edit"> <img src="images/edit.png"
                                            alt="edit"></a>
                                </button>
                                <form action="/delete-record" method="POST">
                                    <input type="hidden" name="patientID" value="<%= element._id %>">
                                    <button type="submit" class="btn-small" title="Delete">
                                        <img src="images/delete.png" alt="delete">
                                    </button>

                                </form>

                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% }else{ %>
                <!-- Closed Header  -->
                </div>
                <h1 class="no-data-warning">No Data Found!!!</h1>
                <% } %>

        </main>

        <%- include("includes/footer") %>

</body>

</html>